WCFServiceDev/ePowerCCBApi/Connected Services/ePowerBridge/EpowerWSManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EpowerWSManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EpowerWSManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDatos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Datos" nillable="true" type="tns:Datos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatos" nillable="true" type="tns:ArrayOfDatos" />
  <xs:complexType name="Datos">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoContenido" type="xs:int" />
      <xs:element minOccurs="0" name="ValorDec" type="xs:double" />
      <xs:element minOccurs="0" name="ValorString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Datos" nillable="true" type="tns:Datos" />
  <xs:complexType name="ArrayOfContenido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contenido" nillable="true" type="tns:Contenido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContenido" nillable="true" type="tns:ArrayOfContenido" />
  <xs:complexType name="Contenido">
    <xs:sequence>
      <xs:element minOccurs="0" name="BinarioBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtensionBinario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreBinario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TabName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contenido" nillable="true" type="tns:Contenido" />
  <xs:complexType name="ResultadoAccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoAccion" nillable="true" type="tns:ResultadoAccion" />
  <xs:complexType name="ArrayOfResultado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resultado" nillable="true" type="tns:Resultado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultado" nillable="true" type="tns:ArrayOfResultado" />
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemsContenido" nillable="true" type="tns:ArrayOfResultadoCont" />
      <xs:element minOccurs="0" name="ItemsDetalle" nillable="true" type="tns:ArrayOfResultDetalle" />
      <xs:element minOccurs="0" name="docId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" nillable="true" type="tns:Resultado" />
  <xs:complexType name="ArrayOfResultadoCont">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoCont" nillable="true" type="tns:ResultadoCont" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoCont" nillable="true" type="tns:ArrayOfResultadoCont" />
  <xs:complexType name="ResultadoCont">
    <xs:sequence>
      <xs:element minOccurs="0" name="cejilla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="etiqueta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCont" nillable="true" type="tns:ResultadoCont" />
  <xs:complexType name="ArrayOfResultDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultDetalle" nillable="true" type="tns:ResultDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultDetalle" nillable="true" type="tns:ArrayOfResultDetalle" />
  <xs:complexType name="ResultDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="campos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valores" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDetalle" nillable="true" type="tns:ResultDetalle" />
</xs:schema>